Generating a file containing Email,phone number,Home address, name,year born,no.of kids,home status,income,tickets

https://www.ssa.gov/oact/babynames/   --  Source from which namelist was created

In [1]:
import random
import pandas as pd
import os
from random import randint
names=open("namelist.txt","r")
names1=names.read()

In [2]:
name=names1.split()
email_list=["gamil.com","outlook.com"]
house=["own", "rent"]

https://state.1keydata.com/ -- Source from which usa_states was created

In [3]:
def house_address():
    zip_code=str(randint(10000,99999))
    states=open("usa_states.txt","r")
    stateslist=states.read()
    statelist=stateslist.split()
    flatno=str(randint(200,500))
    house_address="flatno"+" "+str(flatno)+" "+str(random.choice(statelist))+" "+"USA"+zip_code
    return house_address

choice() is a inbuilt function in Python that returns a random item from a list, tuple or string

randint() is used to generate random numbers which is randint(start,end)

append() is used to add an item to the end of the list

In [4]:
com_list=[]
for x in range (100):
    name1=random.choice(name)
    email=str(name1.replace(" "," "))+"@"+random.choice(email_list)
    mobileno=random.randint(1000000000,9999999999)
    year=str(randint(1960,2019))
    kids=str(randint(1,4))
    home=random.choice(house)
    annual=random.randint(999,999999)
    tickets=random.randint(1,30)
    my_list=[]
    my_list.append(email)
    my_list.append(mobileno)
    my_list.append(house_address())
    my_list.append(name1)
    my_list.append(year)
    my_list.append(kids)
    my_list.append(home)
    my_list.append(annual)
    my_list.append(tickets)
    com_list.append(my_list)
com_list

[['Benjamin@outlook.com',
  1660159669,
  'flatno 496 Vermont USA46275',
  'Benjamin',
  '2003',
  '2',
  'own',
  568681,
  19],
 ['Charlotte@outlook.com',
  5103605372,
  'flatno 276 California USA18103',
  'Charlotte',
  '2002',
  '3',
  'own',
  479994,
  27],
 ['William@outlook.com',
  1214397430,
  'flatno 419 Dakota USA80708',
  'William',
  '1967',
  '2',
  'rent',
  716187,
  2],
 ['Noah@outlook.com',
  3853113748,
  'flatno 433 Connecticut USA65235',
  'Noah',
  '1997',
  '4',
  'own',
  974703,
  21],
 ['Oliver@gamil.com',
  1879859406,
  'flatno 292 Colorado USA55198',
  'Oliver',
  '1974',
  '3',
  'own',
  453187,
  19],
 ['Liam@gamil.com',
  4208544925,
  'flatno 452 Wyoming USA96503',
  'Liam',
  '1960',
  '3',
  'own',
  57954,
  25],
 ['James@outlook.com',
  8711573120,
  'flatno 404 Dakota USA31496',
  'James',
  '2000',
  '4',
  'own',
  979075,
  19],
 ['Elijah@outlook.com',
  5843681972,
  'flatno 429 South USA72356',
  'Elijah',
  '1968',
  '3',
  'rent',
  390914,
  3],
 ['Evelyn@gamil.com',
  4588770279,
  'flatno 254 Alaska USA38714',
  'Evelyn',
  '2007',
  '1',
  'own',
  323036,
  20],
 ['Lucas@gamil.com',
  8958869751,
  'flatno 362 South USA58428',
  'Lucas',
  '1992',
  '1',
  'own',
  590204,
  15],
 ['Ava@gamil.com',
  3716509042,
  'flatno 317 South USA10270',
  'Ava',
  '1970',
  '4',
  'rent',
  901364,
  24],
 ['Charlotte@outlook.com',
  4713745426,
  'flatno 352 Nevada USA87622',
  'Charlotte',
  '1969',
  '3',
  'rent',
  162891,
  14],
 ['Charlotte@outlook.com',
  8561426222,
  'flatno 271 Arizona USA40287',
  'Charlotte',
  '1987',
  '2',
  'own',
  337233,
  1],
 ['Benjamin@gamil.com',
  3351968256,
  'flatno 261 North USA35788',
  'Benjamin',
  '1962',
  '1',
  'rent',
  815834,
  2],
 ['Mason@outlook.com',
  1991765628,
  'flatno 229 Maine USA31861',
  'Mason',
  '2015',
  '1',
  'rent',
  463705,
  4],
 ['Noah@outlook.com',
  9055705463,
  'flatno 437 Connecticut USA57428',
  'Noah',
  '1985',
  '2',
  'rent',
  94398,
  22],
 ['Ava@outlook.com',
  5101513226,
  'flatno 477 Delaware USA97127',
  'Ava',
  '1974',
  '4',
  'rent',
  318662,
  18],
 ['Liam@outlook.com',
  5012968872,
  'flatno 233 South USA79027',
  'Liam',
  '1961',
  '3',
  'rent',
  376055,
  27],
 ['Isabella@gamil.com',
  6929467313,
  'flatno 204 Kentucky USA52554',
  'Isabella',
  '2009',
  '1',
  'own',
  990987,
  25],
 ['Lucas@outlook.com',
  3741985027,
  'flatno 296 Alabama USA20978',
  'Lucas',
  '2005',
  '2',
  'own',
  815139,
  2],
 ['Olivia@outlook.com',
  3261262739,
  'flatno 252 California USA17260',
  'Olivia',
  '1996',
  '1',
  'own',
  161595,
  18],
 ['William@outlook.com',
  3544323836,
  'flatno 316 Iowa USA45653',
  'William',
  '1984',
  '4',
  'rent',
  116143,
  7],
 ['Liam@outlook.com',
  6658527399,
  'flatno 310 New USA40689',
  'Liam',
  '1994',
  '4',
  'rent',
  357736,
  2],
 ['Sophia@outlook.com',
  2252051676,
  'flatno 415 New USA77050',
  'Sophia',
  '1999',
  '3',
  'rent',
  445679,
  29],
 ['Amelia@outlook.com',
  8647365656,
  'flatno 338 Carolina USA39077',
  'Amelia',
  '1982',
  '4',
  'own',
  274426,
  14],
 ['Ava@gamil.com',
  3124547202,
  'flatno 412 South USA59424',
  'Ava',
  '1984',
  '2',
  'rent',
  471001,
  26],
 ['Mason@gamil.com',
  3448499486,
  'flatno 374 Missouri USA56553',
  'Mason',
  '1992',
  '2',
  'own',
  271287,
  3],
 ['Benjamin@outlook.com',
  6124227858,
  'flatno 373 Oklahoma USA29643',
  'Benjamin',
  '2018',
  '1',
  'rent',
  412987,
  30],
 ['Benjamin@outlook.com',
  6211323573,
  'flatno 216 Iowa USA90136',
  'Benjamin',
  '1983',
  '3',
  'rent',
  752254,
  7],
 ['Benjamin@gamil.com',
  8334943426,
  'flatno 223 PennsylvaniaRhode USA20288',
  'Benjamin',
  '1995',
  '1',
  'rent',
  215333,
  5],
 ['Logan@gamil.com',
  5629389507,
  'flatno 366 Dakota USA25074',
  'Logan',
  '1999',
  '3',
  'own',
  686602,
  22],
 ['Liam@outlook.com',
  1584613754,
  'flatno 395 New USA71087',
  'Liam',
  '1984',
  '3',
  'rent',
  112859,
  24],
 ['James@outlook.com',
  9842849030,
  'flatno 467 Hampshire USA16202',
  'James',
  '1990',
  '4',
  'own',
  717759,
  24],
 ['James@gamil.com',
  5799522906,
  'flatno 241 Mississippi USA88082',
  'James',
  '1995',
  '4',
  'own',
  357483,
  4],
 ['Mason@outlook.com',
  8518363191,
  'flatno 218 Hampshire USA48707',
  'Mason',
  '1994',
  '4',
  'rent',
  402160,
  9],
 ['Harper@outlook.com',
  1677171767,
  'flatno 454 Mexico USA96089',
  'Harper',
  '1986',
  '2',
  'rent',
  656008,
  3],
 ['Evelyn@gamil.com',
  2242924449,
  'flatno 407 Alaska USA34584',
  'Evelyn',
  '1976',
  '2',
  'own',
  493708,
  5],
 ['Elijah@gamil.com',
  7794098465,
  'flatno 245 PennsylvaniaRhode USA42042',
  'Elijah',
  '1972',
  '4',
  'rent',
  931458,
  2],
 ['Oliver@gamil.com',
  3426393052,
  'flatno 473 Alaska USA89989',
  'Oliver',
  '1991',
  '3',
  'own',
  48802,
  22],
 ['Noah@outlook.com',
  3998348791,
  'flatno 224 California USA91059',
  'Noah',
  '1981',
  '3',
  'own',
  436294,
  26],
 ['Ava@gamil.com',
  8267200212,
  'flatno 208 Minnesota USA10047',
  'Ava',
  '1960',
  '3',
  'rent',
  993453,
  15],
 ['Noah@outlook.com',
  8547323052,
  'flatno 294 Arkansas USA68576',
  'Noah',
  '1970',
  '3',
  'own',
  634281,
  19],
 ['Lucas@gamil.com',
  3762341044,
  'flatno 403 Mexico USA10843',
  'Lucas',
  '1982',
  '3',
  'own',
  543078,
  26],
 ['James@outlook.com',
  2262721755,
  'flatno 314 Dakota USA26514',
  'James',
  '1992',
  '1',
  'own',
  864932,
  7],
 ['Ava@gamil.com',
  8484657643,
  'flatno 423 Maryland USA59470',
  'Ava',
  '2006',
  '3',
  'own',
  233289,
  6],
 ['Harper@gamil.com',
  6490183656,
  'flatno 228 South USA10395',
  'Harper',
  '1962',
  '4',
  'rent',
  819568,
  23],
 ['William@outlook.com',
  2488141049,
  'flatno 304 Idaho USA95885',
  'William',
  '1985',
  '4',
  'rent',
  60929,
  29],
 ['Amelia@outlook.com',
  2184310422,
  'flatno 277 Nevada USA92757',
  'Amelia',
  '1997',
  '4',
  'own',
  354540,
  22],
 ['William@gamil.com',
  1800109390,
  'flatno 349 Virginia USA57337',
  'William',
  '1972',
  '4',
  'rent',
  562896,
  14],
 ['Ava@gamil.com',
  5275494095,
  'flatno 495 California USA84077',
  'Ava',
  '1990',
  '2',
  'rent',
  159877,
  27],
 ['Benjamin@gamil.com',
  8081334718,
  'flatno 470 PennsylvaniaRhode USA79002',
  'Benjamin',
  '1975',
  '4',
  'own',
  611329,
  10],
 ['Olivia@outlook.com',
  9745066090,
  'flatno 230 Tennessee USA70735',
  'Olivia',
  '1973',
  '2',
  'rent',
  515030,
  7],
 ['1.0123%@outlook.com',
  8606648212,
  'flatno 356 New USA91934',
  '1.0123%',
  '2016',
  '1',
  'own',
  723542,
  18],
 ['Harper@gamil.com',
  2261017427,
  'flatno 320 Minnesota USA81476',
  'Harper',
  '2012',
  '3',
  'rent',
  299111,
  26],
 ['Amelia@gamil.com',
  1288936153,
  'flatno 367 Dakota USA80250',
  'Amelia',
  '2001',
  '3',
  'rent',
  46732,
  17],
 ['Evelyn@outlook.com',
  5468618919,
  'flatno 242 New USA35188',
  'Evelyn',
  '1996',
  '3',
  'own',
  256914,
  12],
 ['Sophia@gamil.com',
  5871604975,
  'flatno 243 Oregon USA97841',
  'Sophia',
  '2012',
  '3',
  'own',
  880549,
  17],
 ['Amelia@outlook.com',
  1717762267,
  'flatno 323 Tennessee USA97330',
  'Amelia',
  '2017',
  '2',
  'own',
  305667,
  19],
 ['Mason@outlook.com',
  9159490386,
  'flatno 330 Texas USA22278',
  'Mason',
  '2003',
  '1',
  'own',
  232160,
  21],
 ['1.0123%@gamil.com',
  9890962002,
  'flatno 276 Hawaii USA46397',
  '1.0123%',
  '1999',
  '3',
  'rent',
  769109,
  12],
 ['Charlotte@gamil.com',
  1404145021,
  'flatno 460 IllinoisIndiana USA74434',
  'Charlotte',
  '2015',
  '4',
  'rent',
  603418,
  17],
 ['Elijah@outlook.com',
  7919712321,
  'flatno 333 Alabama USA16637',
  'Elijah',
  '1983',
  '1',
  'own',
  943043,
  25],
 ['Lucas@outlook.com',
  2417330195,
  'flatno 450 New USA79993',
  'Lucas',
  '1982',
  '3',
  'rent',
  380154,
  26],
 ['Emma@gamil.com',
  6558186704,
  'flatno 422 New USA40897',
  'Emma',
  '2017',
  '1',
  'rent',
  424614,
  14],
 ['Sophia@gamil.com',
  2535613716,
  'flatno 350 South USA67853',
  'Sophia',
  '1971',
  '3',
  'rent',
  394045,
  18],
 ['Mia@outlook.com',
  3671129399,
  'flatno 303 Jersey USA74746',
  'Mia',
  '1969',
  '4',
  'rent',
  373928,
  12],
 ['Sophia@gamil.com',
  2904908036,
  'flatno 410 Maryland USA25538',
  'Sophia',
  '1990',
  '4',
  'own',
  830681,
  30],
 ['1.0123%@outlook.com',
  9017262405,
  'flatno 496 Idaho USA89256',
  '1.0123%',
  '1970',
  '2',
  'rent',
  268441,
  1],
 ['1.0123%@outlook.com',
  9119688853,
  'flatno 451 Jersey USA49222',
  '1.0123%',
  '1984',
  '4',
  'rent',
  88039,
  1],
 ['Oliver@gamil.com',
  8990177072,
  'flatno 465 Michigan USA26869',
  'Oliver',
  '1963',
  '3',
  'rent',
  751911,
  11],
 ['Evelyn@gamil.com',
  1088357730,
  'flatno 307 Virginia USA93788',
  'Evelyn',
  '1963',
  '3',
  'own',
  882950,
  6],
 ['Noah@gamil.com',
  8222234900,
  'flatno 391 New USA51708',
  'Noah',
  '1961',
  '3',
  'own',
  311919,
  24],
 ['James@gamil.com',
  7525912626,
  'flatno 235 West USA81144',
  'James',
  '1974',
  '3',
  'rent',
  38151,
  26],
 ['Ava@gamil.com',
  6938574095,
  'flatno 366 Hampshire USA78965',
  'Ava',
  '1972',
  '4',
  'rent',
  215314,
  5],
 ['William@outlook.com',
  6478686622,
  'flatno 214 Arizona USA22691',
  'William',
  '1984',
  '4',
  'own',
  223065,
  8],
 ['Harper@gamil.com',
  9302045006,
  'flatno 414 Alaska USA68389',
  'Harper',
  '2008',
  '2',
  'own',
  872240,
  16],
 ['Evelyn@outlook.com',
  4705748531,
  'flatno 295 Iowa USA29846',
  'Evelyn',
  '1974',
  '4',
  'own',
  293001,
  18],
 ['Amelia@gamil.com',
  5507877109,
  'flatno 362 Connecticut USA64951',
  'Amelia',
  '2007',
  '1',
  'own',
  521978,
  9],
 ['Liam@gamil.com',
  5016658595,
  'flatno 274 Kentucky USA87130',
  'Liam',
  '2002',
  '1',
  'own',
  385234,
  9],
 ['Ava@outlook.com',
  9402594715,
  'flatno 419 Alaska USA43670',
  'Ava',
  '2016',
  '1',
  'own',
  57867,
  14],
 ['Liam@gamil.com',
  8793427415,
  'flatno 479 Maryland USA49042',
  'Liam',
  '2015',
  '4',
  'own',
  32419,
  20],
 ['Logan@outlook.com',
  2310751896,
  'flatno 460 New USA87974',
  'Logan',
  '2004',
  '4',
  'rent',
  989946,
  24],
 ['Amelia@outlook.com',
  1604935172,
  'flatno 308 Virginia USA67360',
  'Amelia',
  '1966',
  '1',
  'rent',
  492093,
  26],
 ['Evelyn@outlook.com',
  3541211763,
  'flatno 251 Massachusetts USA96122',
  'Evelyn',
  '2008',
  '1',
  'own',
  806664,
  25],
 ['Noah@gamil.com',
  3075884825,
  'flatno 242 Utah USA65587',
  'Noah',
  '1998',
  '4',
  'own',
  319211,
  11],
 ['Emma@outlook.com',
  6311151302,
  'flatno 315 Virginia USA94143',
  'Emma',
  '1988',
  '1',
  'rent',
  955657,
  3],
 ['Evelyn@outlook.com',
  3847928971,
  'flatno 464 Minnesota USA31815',
  'Evelyn',
  '2011',
  '4',
  'own',
  646389,
  18],
 ['William@outlook.com',
  9896273986,
  'flatno 221 Ohio USA99894',
  'William',
  '1963',
  '4',
  'rent',
  223186,
  5],
 ['Sophia@outlook.com',
  1137902820,
  'flatno 486 PennsylvaniaRhode USA52592',
  'Sophia',
  '1994',
  '1',
  'own',
  980539,
  17],
 ['Benjamin@outlook.com',
  1358574687,
  'flatno 240 New USA38763',
  'Benjamin',
  '2018',
  '1',
  'rent',
  785274,
  22],
 ['Logan@outlook.com',
  1141907813,
  'flatno 360 Nevada USA17949',
  'Logan',
  '1970',
  '1',
  'rent',
  477443,
  28],
 ['Oliver@outlook.com',
  6682183624,
  'flatno 227 Oregon USA95789',
  'Oliver',
  '2015',
  '1',
  'own',
  573520,
  13],
 ['1.0123%@outlook.com',
  9075458629,
  'flatno 365 North USA73953',
  '1.0123%',
  '1997',
  '4',
  'own',
  29981,
  5],
 ['Isabella@gamil.com',
  1932815592,
  'flatno 433 Hawaii USA57746',
  'Isabella',
  '2003',
  '2',
  'own',
  628608,
  1],
 ['Ava@gamil.com',
  4947807629,
  'flatno 376 South USA97750',
  'Ava',
  '1980',
  '3',
  'rent',
  113163,
  17],
 ['Amelia@outlook.com',
  8129327312,
  'flatno 459 Washington USA79047',
  'Amelia',
  '1997',
  '2',
  'own',
  893713,
  22],
 ['Elijah@outlook.com',
  5525346482,
  'flatno 292 North USA92629',
  'Elijah',
  '1962',
  '2',
  'own',
  327504,
  10],
 ['Evelyn@gamil.com',
  9841956336,
  'flatno 456 Minnesota USA49212',
  'Evelyn',
  '2009',
  '1',
  'own',
  688009,
  24],
 ['Liam@outlook.com',
  4254774770,
  'flatno 292 Arkansas USA18736',
  'Liam',
  '1991',
  '3',
  'rent',
  938415,
  22],
 ['Liam@gamil.com',
  7494483215,
  'flatno 452 IllinoisIndiana USA32602',
  'Liam',
  '1974',
  '4',
  'own',
  518077,
  3]]

List is loaded to dataframe and columns are defined directly from the list

In [5]:
df=pd.DataFrame(com_list)
df.columns=['Email address','Phone Number','Home Address','Persons Name','Year Born','No. of Kids','Home Status','Annual','Number of Speeding Tickets']
df

,Email address,Phone Number,Home Address,Persons Name,Year Born,No. of Kids,Home Status,Annual,Number of Speeding Tickets
0,Benjamin@outlook.com,1660159669,flatno 496 Vermont USA46275,Benjamin,2003,2,own,568681,19
1,Charlotte@outlook.com,5103605372,flatno 276 California USA18103,Charlotte,2002,3,own,479994,27
2,William@outlook.com,1214397430,flatno 419 Dakota USA80708,William,1967,2,rent,716187,2
3,Noah@outlook.com,3853113748,flatno 433 Connecticut USA65235,Noah,1997,4,own,974703,21
4,Oliver@gamil.com,1879859406,flatno 292 Colorado USA55198,Oliver,1974,3,own,453187,19
...,...,...,...,...,...,...,...,...,...
95,Amelia@outlook.com,8129327312,flatno 459 Washington USA79047,Amelia,1997,2,own,893713,22
96,Elijah@outlook.com,5525346482,flatno 292 North USA92629,Elijah,1962,2,own,327504,10
97,Evelyn@gamil.com,9841956336,flatno 456 Minnesota USA49212,Evelyn,2009,1,own,688009,24
98,Liam@outlook.com,4254774770,flatno 292 Arkansas USA18736,Liam,1991,3,rent,938415,22
99,Liam@gamil.com,7494483215,flatno 452 IllinoisIndiana USA32602,Liam,1974,4,own,518077,3

The below is used to convert the dataframe to csv and stores it in our system

In [6]:
df.to_csv('fakeName.csv')